$font-family: 'Inter', sans-serif;

$xl-body-regular: 1.125rem / 1.75rem #{$font-family};
$xs-body-regular: 0.75rem / 1.375rem #{$font-family};
$xs-1-body-regular: 0.625rem / 1.75rem #{$font-family};

$h1-700: 700 12.5rem / 12.5rem #{$font-family};
$h2-700: 700 3.5rem / 4.25rem #{$font-family};
$h3-700: 700 1.5rem / 1.75rem #{$font-family};
$h4-400: 1.25rem / 1.75rem #{$font-family};
$h4-700: 700 1.25rem / 1.5rem #{$font-family};
$h5-700: 700 1.125rem / 1.75rem #{$font-family};
$h6-400: 0.9375rem / 1.75rem #{$font-family};
$h3-7001: 700 2.5rem / 3rem #{$font-family};
$xs-h3-700: 700 6.25rem / 6.25rem #{$font-family};
$md-h3-700: 700 10.9375rem / 10.9375rem #{$font-family};
