@use './styles/tools/bg_day_period' as mixins;
@use './styles/tools/responsive';
@use './styles/settings/typography';
@use './styles/settings/sizes';

.app {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;

  &::before {
    position: absolute;
    content: '';
    inline-size: 100%;
    block-size: 100%;
    background-color: hsla(0, 0%, 0%, 1);
    mix-blend-mode: normal;
    opacity: 0.4;
  }
}

.appContainer {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.day {
  background-color: rgba(255, 255, 255, 0.75);
  @include mixins.bgDayPeriod;
}

.night {
  background-color: rgba(0, 0, 0, 0.75);
  @include mixins.bgNightPeriod;
}

.show {
  transform: translateY(var(--footer-height));

  // @include responsive.from(md) {
  //   transform: translateY(-400px);
  // }

  // @include responsive.from(lg) {
  //   transform: translateY(-370px);
  // }
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 2.5rem 1.625rem;
}

.quote {
  display: flex;
  gap: 1rem;
  margin-bottom: auto;
  max-width: 34.5625rem;
  font: typography.$h5-700;
  font-weight: normal;
}

.clock-widget {
  @include responsive.from(lg) {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}

.current-period {
  font: typography.$h6-400;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;

  @include responsive.from(lg) {
    letter-spacing: 3.6px;
  }
}

.current-location {
  font: typography.$h6-400;
  text-transform: uppercase;
}

.current-location,
.current-period {
  @include responsive.from(lg) {
    font: typography.$h5-700;
    font-weight: normal;
  }
}

.footer {
  --container-width: #{sizes.$ft-tablet-container};
  height: 350px;
  position: relative;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include responsive.from(md) {
    // --container-width: #{sizes.$ft-desktop-container};
    height: 100%;
  }
}

.footerBg-day {
  color: var(--dark-grey);
  &::before {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20.3871px);
  }
}

.cite {
  margin-top: 0.5rem;
  font-weight: bold;
  display: inline-block;
  font-style: normal;
  &::before {
    content: ' - ';
  }
}

.right-side {
  @include responsive.from(lg) {
    min-width: 12.5rem;
  }
}

.footerBg-night {
  color: var(--just-white);
  &::before {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(1rem);
  }
}

.icon-text {
  align-self: center;
  text-transform: uppercase;
  padding: 12px 0 12px 1rem;
  font-weight: bold;
}

.icon-image {
  transform: rotate(0);
  transition: transform 0.5s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.btn {
  display: flex;
  gap: 1rem;
  border-radius: 28px;
  background-color: var(--just-white);
  margin-top: 3rem;
  transition: all 0.5s ease-in-out;

  &:hover .icon {
    background-color: hsla(0, 0%, 60%, 1);
  }
}

.button-reload {
  background-color: unset;
  border-color: transparent;
  flex-shrink: 0;
  align-self: flex-start;
  transition: 0.5s;
  transform: rotate(0);
  transition-timing-function: cubic-bezier(0, -0.09, 0.91, 0.65);
  &:active {
    transform: rotate(300deg);
  }
}

.icon {
  align-self: center;
  background-color: var(--dark-grey);
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5 ease-in-out;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div + .side {
  margin-top: 1rem;

  @include responsive.from(md) {
    margin-top: 0;
  }
}

.footer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--container-width);
  padding: 48px 26px;
  margin: 0 auto;
  @include responsive.from(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 3rem;
    padding: 7.5rem 1.625rem;
  }

  @include responsive.from(lg) {
    // min-height: 25rem;
    padding: 4.625rem 1.625rem;
    column-gap: 15.125rem;
  }
}

.line {
  display: none;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);
  height: 15.75rem;
  width: 1px;
  background: var(--just-white);
  mix-blend-mode: normal;
  opacity: 0.25;

  @include responsive.from(lg) {
    display: block;
  }
}

.footer-item {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;

  @include responsive.from(md) {
    flex-direction: column;
  }
}

.footer-title {
  text-transform: uppercase;
  align-self: center;
  font: typography.$xs-body-regular;

  @include responsive.from(md) {
    align-self: flex-start;
    letter-spacing: 2.6px;
  }

  @include responsive.from(lg) {
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

.footer-description {
  @include responsive.from(md) {
    font: typography.$h3-7001;
  }

  @include responsive.from(lg) {
    font: typography.$h2-700;
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font: typography.$h2-700;
  }
}

.overlay-night {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(20.3871px);
}

.overlay-day {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20.3871px);
}

.hide {
  transform: translateY(-100%);
}
.bullets {
  animation: dots 2s steps(3, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}
